@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.schedule {
  width: 100%;
  height: auto;
  margin-top: 100vh;
  padding: 3%;
}

.schedule__test {
  height: 500px;
  width: 100%;
  background-color: green;
  padding: 5%;
}

.matchday {
  width: 100%;
  height: auto;
  padding-left: 5px;
}

.matchday__date {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  font-weight: 100;
  padding-left: 10px;
  background-color: lightgray;
  color: #4b4b4b;
}

.match {
  width: 100%;
  height: 100px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #444444;
}

@media (min-width: 550px) {
  .match {
    padding: 5px;
  }
}

.match:hover {
  background-color: #f3f3f3;
}

.match__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 30%;
  text-align: center;
  margin-left: 1.5;
  font-size: .65rem;
}

@media (min-width: 550px) {
  .match__info {
    width: 19%;
    margin-left: 3%;
  }
}

@media (min-width: 812px) {
  .match__info {
    font-size: .85rem;
  }
}

.match__teams {
  height: 100%;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: .65rem;
}

@media (min-width: 550px) {
  .match__teams {
    font-weight: 700;
    width: 70%;
  }
}

@media (min-width: 812px) {
  .match__teams {
    font-size: 1rem;
  }
}

.match__teams--wrapper {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 550px) {
  .match__teams--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.match__teams--team {
  width: 100%;
  text-align: center;
}

@media (min-width: 550px) {
  .match__teams--team {
    width: 40%;
  }
}

.match__teams--team__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 550px) {
  .match__teams--team__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.match__teams--image {
  max-height: 75%;
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 550px) {
  .match__teams--image {
    height: 100%;
    width: 60%;
  }
}

.match__teams--image img {
  max-height: 100%;
  max-width: 100%;
}

.match__teams--score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 20%;
  padding: 3px;
  text-align: center;
}

@media (min-width: 550px) {
  .match__teams--score {
    padding: 5px;
  }
}

.flag__left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 550px) {
  .flag__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F3F79;
  position: relative;
  z-index: 4;
}

@media (min-width: 812px) {
  nav {
    height: 75px;
  }
}

.trophy__img {
  position: absolute;
  left: 50%;
  max-height: 60px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@media (min-width: 550px) {
  .trophy__img {
    max-height: 100px;
  }
}

.nav__group {
  height: 100%;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: capitalize;
  background-color: #0D376B;
  border-left: 1px solid #0B2E58;
  border-right: 1px solid #0B2E58;
  font-size: .56rem;
  text-align: center;
  z-index: 5;
}

@media (min-width: 550px) {
  .nav__group {
    width: 65px;
  }
}

@media (min-width: 812px) {
  .nav__group {
    width: 87px;
    font-size: .9rem;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .nav__group {
    width: 100px;
    font-size: 1rem;
  }
}

@media (min-width: 812px) {
  .nav__group:hover .nav__group--table {
    display: block;
  }
}

.nav__group p {
  margin: 0 3px;
}

.nav__group--table {
  width: 85%;
  height: 175px;
  display: none;
  padding: 10px;
  padding-top: 0;
  position: absolute;
  top: 50px;
  left: 7.5%;
  border: 1px solid black;
  border-top: none;
  background-color: white;
  color: black;
  font-size: .7rem;
  z-index: 4;
}

@media (min-width: 550px) {
  .nav__group--table {
    width: 70%;
    left: 15%;
  }
}

@media (min-width: 812px) {
  .nav__group--table {
    width: 500%;
    height: 200px;
    font-size: .8rem;
    top: auto;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.nav__group .toLeft {
  left: auto;
  right: 7.5%;
}

@media (min-width: 550px) {
  .nav__group .toLeft {
    right: 15%;
  }
}

@media (min-width: 812px) {
  .nav__group .toLeft {
    right: 0;
  }
}

.nav__middle {
  width: 20px;
  margin: 0 2%;
  border: none;
  background-color: transparent;
}

@media (min-width: 550px) {
  .nav__middle {
    width: 50px;
  }
}

@media (min-width: 812px) {
  .nav__middle {
    width: 87px;
    margin: 0 3%;
  }
}

@media (min-width: 1024px) {
  .nav__middle {
    width: 100px;
    margin: 0 5%;
  }
}

.row {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 4px 0px 1px 2px;
  border-bottom: 1px solid grey;
  font-size: .4rem;
}

@media (min-width: 550px) {
  .row {
    padding: 5px 5px 1px 10px;
  }
}

.row:hover {
  background-color: lightgrey;
}

.row:first-of-type {
  color: grey;
}

.row:first-of-type:hover {
  background-color: white;
}

.row__last {
  border-bottom: none;
}

.row__item {
  height: 100%;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  font-size: .55rem;
}

@media (min-width: 812px) {
  .row__item {
    font-size: .62rem;
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .row__item {
    font-size: .7rem;
  }
}

.row__item:first-of-type {
  height: 100%;
  min-width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (min-width: 550px) {
  .row__item:first-of-type {
    min-width: 45%;
  }
}

.image__container {
  height: 100%;
  width: 20px;
  margin: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 550px) {
  .image__container {
    width: 30px;
    margin: 0 10px;
  }
}

.image__container img {
  max-width: 100%;
  max-height: 100%;
}

.info {
  width: 62vw;
  height: 85vh;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2vw;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 6;
  background-color: white;
  color: #353535;
  -webkit-box-shadow: 3px 1px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 1px 10px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 812px) {
  .info {
    width: 600px;
    height: 250px;
    left: 100%;
    margin-left: 0;
    padding: 5px 0;
  }
}

.info h2 {
  font-size: 1rem;
}

.info__bottom {
  top: auto;
  bottom: 0;
}

.info__right {
  left: auto;
  right: 100%;
  margin-right: 2vw;
}

@media (min-width: 812px) {
  .info__right {
    margin-right: 0;
  }
}

.info__middleTop {
  -webkit-transform: translateY(-27%);
          transform: translateY(-27%);
}

@media (min-width: 812px) {
  .info__middleTop {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.info__middleBottom {
  -webkit-transform: translateY(27%);
          transform: translateY(27%);
}

@media (min-width: 812px) {
  .info__middleBottom {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.info__name {
  width: 100%;
  height: 10%;
  padding: 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 812px) {
  .info__name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}

.info__name div {
  position: absolute;
  top: 0;
  right: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-weight: 700;
  font-size: .6rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (min-width: 812px) {
  .info__name div {
    display: none;
  }
}

.info__name img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 812px) {
  .info__name img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.info__name p {
  font-weight: 700;
  margin-left: 0px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: .8rem;
}

@media (min-width: 812px) {
  .info__name p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 7px;
  }
}

.info__row {
  height: 35%;
  margin: 3% 0;
  padding: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 812px) {
  .info__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 1% 0;
  }
}

.info__row img {
  max-height: 100%;
}

.info__match {
  width: 100%;
  height: 48%;
  margin: 3px 0;
  padding: 3px;
  border-radius: 8px;
  border: .5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .6rem;
}

@media (min-width: 812px) {
  .info__match {
    width: 48%;
    height: 100%;
    margin: 0 5px;
    font-size: 1rem;
  }
}

.info__match--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .5rem;
}

.info__match--date p {
  margin: 0 5px;
}

@media (min-width: 550px) {
  .info__match--date {
    font-size: .6rem;
  }
}

.info .score__row {
  height: 50%;
  width: 100%;
  font-size: .53rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 550px) {
  .info .score__row {
    font-size: .7rem;
  }
}

.info .score__row * {
  max-height: 100%;
  max-width: 20%;
}

.info__details {
  height: 46%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 812px) {
  .info__details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info__details--video {
  height: auto;
  width: 100%;
  margin-bottom: 3%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 812px) {
  .info__details--video {
    height: 100%;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.info__details--video img, .info__details--video a {
  max-height: 100%;
  min-width: 100%;
  cursor: pointer;
}

@media (min-width: 812px) {
  .info__details--video img, .info__details--video a {
    height: 100%;
    min-width: auto;
  }
}

.info__details--scorers {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: .7rem;
}

@media (min-width: 812px) {
  .info__details--scorers {
    height: 100%;
    width: 50%;
  }
}

.info__details--scorers h2 {
  width: 50%;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.toggleDisplay {
  display: block;
}

.scorers {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}

.scorers p {
  grid-column: span 1;
  margin: 2.5px 0;
}

.scorers__name {
  grid-column: span 2;
}

.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 812px) {
  .container {
    padding-top: 75px;
  }
}

.arrow {
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0F3F79;
  z-index: 3;
}

@media (min-width: 550px) {
  .arrow {
    bottom: 5%;
  }
}

.arrow p {
  font-size: .8rem;
  font-weight: 200;
  margin-bottom: 5px;
}

@media (min-width: 812px) {
  .arrow p {
    font-size: 1rem;
  }
}

@media (min-width: 812px) {
  .arrow p {
    font-size: 1.2rem;
  }
}

.arrow i {
  font-size: 2rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

@media (min-width: 812px) {
  .arrow i {
    font-size: 2.5rem;
  }
}

.arrow i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.half {
  width: 50%;
  height: 100%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 550px) {
  .half {
    padding: 1.5%;
  }
}

.half__left {
  padding-right: 4%;
  position: relative;
}

.half__right {
  padding-left: 4%;
}

.wrapper__group {
  width: 40%;
  height: 100%;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 812px) {
  .wrapper__group {
    width: 34%;
  }
}

.group {
  width: 100%;
  height: 22%;
  padding-bottom: 0;
  border-radius: 4px;
  border: 2px solid #0F3F79;
  position: relative;
  background-color: #175fb6;
  font-size: .7rem;
}

@media (min-width: 812px) {
  .group {
    position: relative;
    font-size: .65rem;
    height: 20%;
  }
}

@media (min-width: 1024px) {
  .group {
    font-size: .8rem;
  }
}

.group__name {
  width: 95%;
  height: 12px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-left: 5px;
  border: 2px solid #0F3F79;
  background-color: #0F3F79;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: .45rem;
}

@media (min-width: 550px) {
  .group__name {
    width: 80%;
    font-size: .55rem;
  }
}

@media (min-width: 812px) {
  .group__name {
    width: 50%;
    height: 20px;
    font-size: .7rem;
  }
}

.group__name--left {
  left: -2px;
}

.group__name__left {
  border-top-left-radius: 0px;
}

.group__name__right {
  border-top-right-radius: 0px;
}

.group__name--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
  right: -2px;
}

.group__row {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

@media (min-width: 550px) {
  .group__row {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.group__row--country {
  width: 100%;
  height: 49%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: .45rem;
}

@media (min-width: 812px) {
  .group__row--country {
    position: relative;
    width: 50%;
    height: 100%;
    font-size: .7rem;
  }
}

@media (min-width: 812px) {
  .group__row--country:hover .info {
    display: block;
  }
}

.group__row--country img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.eliminated .country__image img {
  opacity: .4;
}

.country__image {
  height: 62%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.country__image img {
  max-height: 100%;
  max-width: 100%;
}

.round {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .75rem;
}

@media (min-width: 812px) {
  .round {
    width: 22%;
    font-size: 1rem;
  }
}

.matchup {
  width: 100%;
  height: 16%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.matchup__team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40px;
  font-size: .4rem;
  padding: 2px;
}

@media (min-width: 550px) {
  .matchup__team {
    padding: 0;
    font-size: .6rem;
  }
}

@media (min-width: 812px) {
  .matchup__team {
    font-size: .65rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.matchup__flag {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 550px) {
  .matchup__flag {
    height: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 812px) {
  .matchup__flag {
    height: 100%;
    width: 50%;
    margin-right: 5px;
  }
}

.matchup__flag img {
  max-width: 100%;
  max-height: 100%;
}

.matchup__top {
  position: absolute;
  top: 0px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (min-width: 812px) {
  .matchup__top {
    top: -3px;
  }
}

.matchup__bottom {
  position: absolute;
  bottom: 0;
}

@media (min-width: 812px) {
  .matchup__bottom {
    bottom: 2px;
  }
}

.matchup__right {
  right: 0;
}

.round__first {
  margin-left: 5px;
}

@media (min-width: 812px) {
  .round__first {
    margin-left: 15px;
  }
}

.round__second .matchup {
  height: 25%;
}

.round__third .matchup {
  height: 50%;
}

.round {
  position: relative;
}

.championship {
  width: 20%;
  height: 15%;
  position: absolute;
  top: 50%;
  right: 0;
  border: 1px solid black;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: white;
  z-index: 2;
}

.finalist {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 0;
  border: 1px solid black;
  z-index: 1;
}

.finalist:first-of-type {
  -webkit-transform: translate(-101%, -50%);
          transform: translate(-101%, -50%);
  border-right: none;
}

.finalist:last-of-type {
  -webkit-transform: translate(101%, -50%);
          transform: translate(101%, -50%);
  border-left: none;
}

.half__right .round__first {
  margin-left: 0;
  margin-right: 5px;
}

@media (min-width: 812px) {
  .half__right .round__first {
    margin-left: 0;
    margin-right: 15px;
  }
}

.half__right .matchup {
  border-right: none;
  border-left: 1px solid black;
}
