.info {
    width: 62vw;
    height: 85vh;
    display: none;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2vw;
    padding: 5px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 2;
    background-color: white;
    color: rgb(53, 53, 53);
    box-shadow: 3px 1px 10px 2px rgba(0,0,0, 0.5);
    
    @include tablet {
        width: 600px;
        height: 250px; 
        left: 100%;
        margin-left: 0;
        padding: 5px 0;
        // border-radius: 0;
    }
    
    h2 {
        font-size: 1rem;
    }
    
    &__bottom { 
        top: auto;
        bottom: 0;
    }
    
    &__right {
        left: auto;
        right: 100%;
        margin-right: 2vw;
        @include tablet {
            margin-right: 0;
        }
    }
    
    &__middleTop {
        transform: translateY(-27%);
        @include tablet {
            transform: translateY(0);
        }
    }
    
    &__middleBottom {
        transform: translateY(27%);
        @include tablet {
            transform: translateY(0);
        }
    }

    &__name {
        width: 100%;
        height: 10%;
        padding: 5px 0;
        position: relative;
        @include flex(center, center);
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            padding: 0;
        }

        div {
            position: absolute;
            top: 0;
            right: 8px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            font-weight: 700;
            font-size: .6rem;
            border: 1px solid black;
            @include flex(center, center);
            cursor: pointer;
            @include tablet {
                display: none;
            }
        }
        
        img {
            order: 2;
            @include tablet {
                order: 1;
            }
         }

        p {
            font-weight: 700;
            margin-left: 0px;
            order: 1;
            font-size: .8rem;
            @include tablet {
                order: 2;
                margin-left: 7px;
            }
        }
    }

    &__row {
        height: 35%;
        margin: 3% 0;
        padding: 1.5%;
        @include flex(center, center);
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            padding: 0;
            margin: 1% 0;
        }
        
        img {
            max-height: 100%;
        }
    }

    &__match {
        width: 100%;
        height: 48%;
        margin: 3px 0;
        padding: 3px;
        border-radius: 8px;
        border: .5px solid black;
        @include flex(center, center);
        flex-direction: column;
        font-size: .6rem;
        @include tablet {
            width: 48%;
            height: 100%;
            margin: 0 5px;
            font-size: 1rem;
        }
        
        &--date {
            @include flex(center, center);
            font-size: .5rem;
            p {margin: 0 5px};
            @include wide-mobile {
                font-size: .6rem;
            }
        }
    }
    
    .score__row {
        height: 50%;
        width: 100%;
        font-size: .53rem;
        font-weight: 700;
        @include flex(space-around, center);
        @include wide-mobile {
            font-size: .7rem;
        }
    
        & * {
            max-height: 100%;
            max-width: 20%;
        }
    }
    
    &__details {
        height: 46%;
        width: 100%;
        @include flex(flex-start, center);
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: center;
        }
        
        &--video {
            // height: 70%;
            height: auto;
            width: 100%;
            // margin: 5px;
            margin-bottom: 3%;
            cursor: pointer;
            @include flex(center, flex-start);
            @include tablet {
                height: 100%;
                width: 50%;
                align-items: center;
                margin: 0;
            }
            
            img, a {
                max-height: 100%;
                min-width: 100%;
                cursor: pointer;
                @include tablet {
                    height: 100%;
                    min-width: auto;
                }
            }
            
        }
        
        &--scorers {
            height: 30%;
            width: 100%;
            @include flex(flex-start, center);
            flex-direction: column;
            text-align: center;
            font-size: .7rem;
            @include tablet {
               height: 100%;
                width: 50%; 
            }
            
            h2 {
                width: 50%;
                border-bottom: 1px solid black;
                margin-bottom: 5px;
            }
            
            
        }
    }
}

.toggleDisplay {
    display: block;
}

.scorers {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    
    p {
        grid-column: span 1;
        margin: 2.5px 0;
    }

    
    &__name {grid-column: span 2;}
}