$wide-mobile-width: 425px; 
$tablet-width: 812px;
$desktop-width: 1024px;

$primary-blue: #0F3F79;
$secondary-blue: #144A8B;
$dark-blue: #0D376B;
$border-blue: #0B2E58;

@mixin wide-mobile {
  @media (min-width: #{$wide-mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    height: 75px;
    @include flex(center, center);
    background-color: $primary-blue;
    position: relative;
    z-index: 2;
}

.trophy__img {

    position: absolute;
    max-height: 100px;
    transform: translateY(50%);

}

.nav__group {
    height: 100%;
    width: 100px;
    position: relative;
    @include flex(center, center);
    color: white;
    text-transform: capitalize;
    background-color: $dark-blue;
    border-left: 1px solid $border-blue;
    border-right: 1px solid $border-blue;
    // margin: 0 .5%;

    &:hover .nav__group--table {
        display: block;
    }

    &:nth-of-type(5) {
        margin: 0 5%;
        border: none;
        background-color: transparent;
    }

    p {margin: 0 3px;}

    &--table {
        width: 500%;
        height: 200px;
        display: none;
        padding: 10px;
        padding-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        border: 1px solid black;
        border-top: none;
        background-color: white;
        color: black;
        font-size: .8rem;
    }

    .toLeft {
        left: auto;
        right: 0;
    }
}

.row {
    width: 100%;
    height: 20%;
    @include flex(flex-start, center);
    color: black;
    padding: 10px 5px 1px 10px;
    border-bottom: 1px solid grey;
    cursor: pointer;

    &:hover {
        background-color: lightgrey;
    }

    &:first-of-type {
        color: grey;

        &:hover {
            background-color: white;
        }
    }

    &__last {
        border-bottom: none;
    }

    &__item {
        height: 100%;
        width: 15px;
        @include flex(center, center);
        margin-left: 15px;
        font-size: .7rem;

        &:first-of-type {
            height: 100%;
            min-width: 45%;
            @include flex(flex-start, center);
            margin: 0;
        }
    }
}

.image__container {
    height: 100%;
    width: 30px;
    margin: 0 10px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 75px;
    @include flex(center, center);
}

.half {
    width: 50%;
    height: 100%;
    padding: 1.5%;
    @include flex(flex-start, center);

    &__left {
        padding-right: 4%;
        position: relative;
    }

    &__right {
        padding-left: 4%;
    }
}

.wrapper__group {
    width: 34%;
    height: 100%;
    // padding: 3%;
    padding-bottom: 0;
    @include flex(space-around, center);
    flex-direction: column;
}

.group {
    width: 100%;
    height: 20%;
    padding: 1% 0;
    border-radius: 8px;
    border: 2px solid $primary-blue;
    position: relative;
    font-size: .5rem;
    @include tablet {
        font-size: .65rem;
    }
    @include desktop {
        font-size: .8rem;
    }

    &__left {border-top-left-radius: 0px;}
    &__right {border-top-right-radius: 0px;}

    &__name {
        width: 50%;
        height: 20px;
        position: absolute;
        top: 0;
        @include flex(flex-start, center);
        color: white;
        padding-left: 5px;
        border: 2px solid $primary-blue;
        background-color: $primary-blue;
        transform: translateY(-100%);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &--left {left: 0;}
        &--right {right: 0;}
    }

    &__row {
        height: 48%;
        width: 100%;
        position: relative;
        @include flex(center, center);
        border-radius: 8px;
    
        &--country {
            width: 50%;
            height: 100%;
            position: relative;
            @include flex(center, center);
            flex-direction: column;

            &:hover .info {
                display: block;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

.info {
    width: 400px;
    height: 200px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid black;
    z-index: 2;
    background-color: white;

    &:first-of-type {
        display: block;
    }

    &__name {
        width: 100%;
        height: 10%;
        @include flex(center, flex-end);

        p {
            font-weight: 700;
            margin-left: 7px;
        }
    }

    &__row {
        @include flex(center, center);
    }

    &__match {
        width: 48%;
        height: 25%;
        margin: 5px 5px;
        padding: 5px;
        border-radius: 8px;
        border: .5px solid black;
        @include flex(center, center);
        flex-direction: column;
    }

    .score__row {
        height: 50%;
        width: 100%;
        font-size: .5rem;
        @include flex(space-around, center);

        & *{
            max-width: 20%;
        }
    }
}


.country__image {
    height: 48%;
    width: auto;
    // width: 100%;
    @include flex(center, center);
    flex-direction: column;
    cursor: pointer;

    &:hover .info {
        display: flex;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.round__wrapper {
    width: 66%;
    height: 100%;
    @include flex(center, center);
}

.round {
    width: 22%;
    // width: 33.33%;
    height: 100%;
    @include flex(space-around, center);
    flex-direction: column;
}

.matchup {
    width: 100%;
    height: 16%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.round__first {margin-left: 15px;}
.round__second .matchup {height: 25%;}
.round__third .matchup{height: 50%;}

.round {position: relative;}

.championship {
    width: 20%;
    height: 15%;
    position: absolute;
    top: 50%;
    right: 0;
    border: 1px solid black;
    transform: translate(50%, -50%);
    background-color: white;
    z-index: 2;
}

.finalist {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 0;
    border: 1px solid black;
    z-index: 1;

    &:first-of-type {
       transform: translate(-101%, -50%); 
       border-right: none;
    }

    &:last-of-type {
        transform: translate(101%, -50%);
        border-left: none;
    }
}

.half__right {

    .round__first {
        margin-left: 0;
        margin-right: 15px;
    }
    .matchup {
        border-right: none;
        border-left: 1px solid black;
    }
}